@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, h1, nav, .list-comment {
  font-family: 'Kaushan Script', cursive, sans-serif;
}

header {
  width: 100%;
  padding: 15px 0;
  margin: auto 0;
  text-align: center;
  border-top: solid 5px #000000;
  background-color: #f2f3f3;
}

header .headline {
  font-size: 32px;
}

nav {
  width: 880px;
  margin: 0 auto;
  border-top: solid 0.7px #000000;
  border-bottom: solid 0.7px #000000;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main {
  width: 880px;
  margin: 0 auto;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
}

main {
  position: relative;
  width: 100%;
  height: 100vh; /* 必要に応じて調整 */
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-center {
  height: 100vh;
  width: 880px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto; /* センタリング */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-box {
  width: 250px;
  height: 280px;
  margin: 10px;
  width: calc(200px - 10px); /* 画面幅の1/3で、左右には5pxの余白を考慮 */
  position: relative;
  background-color: rgba(255,255,255,0.7);
}

.list-box a {
  text-decoration: none;
}

.image-box {
  width: 190px;
  height: 190px;
}

.list-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* 画像を中央に配置 */
  padding: 5px;
}

.list-comment {
  width: 190px;
  height: 90px;
  position: absolute;
  left: 0;
  padding: 4px;
}

.list-body {
  display: block;
  color: gray;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;//テキストが要素の幅を超えた場合に省略記号（...）で表示される
}

.sentiment-score {
  display: block;
  color: #FF0000;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;//テキストが要素の幅を超えた場合に省略記号（...）で表示される
}

.list-title {
  display: block;
  color: gray;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-comment a:hover {
  text-decoration: none; /* 下線を非表示にする */
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

//投稿詳細ページ
.show-title,
.show-body {
  overflow-wrap: break-word;
  width: 300px;
  max-height: 5em; /* 3行分の高さまで表示 */
  overflow-y: auto; /* コンテンツが3行を超えたらスクロール表示 */
}

.action-link {
  display: flex;
}

.link-item {
  text-decoration: none; /* リンクの下線を非表示にする */
  margin: 10px 30px; /* リンクの外側の余白（必要に応じて調整） */
}

.link-item:hover {
  text-decoration: none; /* カーソルが重なったときに下線を非表示にする */
}
//ここまで投稿詳細ページ

/*lightbox追記修正*/
.lightboxOverlay{/*拡大時のモーダル*/
  widows: 100% !important;
}
.lb-outerContainer {
  width: calc(100% - 20px) !important;
  max-width: 500px;/*拡大時の最大幅*/
}

.lb-outerContainer{
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
}
.lb-image{
  width: 100% !important;
  height: auto !important;
}
/*↑lightbox追記修正*/

footer {
    display: grid;
    height: 140px;
    width: 100%;
    place-items: center;
    background-color: #f2f3f3;
}

.wrapper .button {
  height: 60px;
  width: 60px;
  float: left;/*要素を包含ブロックの左側に沿うように設置*/
  margin: 0 5px;
  background-color: white;
  border-radius: 50px;/*角を丸める*/
  cursor: pointer;/*カーソルが当たるとポインターになる*/
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);/*影をつける*/
  overflow: hidden;/*はみ出している要素を非表示にする*/
}

.wrapper .button a {
  color: #000000;
  text-decoration: none;
}

.wrapper .button:hover {/*ボタンホバー時*/
  width: 200px;/*ボタンの幅を拡大して文字が収まるようにする*/
  transition: all 0.3s ease-out;/*0.3秒かけて大きくなる*/
}

.wrapper .button:nth-child(1):hover .icon {
  background: #1877f2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button:nth-child(6):hover .icon {
  background: #00B900;
}
.wrapper .button:nth-child(7):hover .icon {
  background: #333;
}

.wrapper .button .icon {/*iconを中に入れる*/
  display: inline-block;
  height: 60px;/*高さ*/
  width: 60px;/*幅*/
  border-radius: 50px;/*角丸*/
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s;
}

.wrapper .button .icon i {/*アイコンの大きさ*/
  font-size: 30px;
  line-height: 60px;/*アイコン中央寄せ*/
}

.wrapper .button:hover .icon i {/*ホバー時アイコン白色*/
  color: white;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s;
}

.wrapper .button:nth-child(1):hover span {/*ホバー時の文字の色*/
  color: #1877f2;
}
.wrapper .button:nth-child(2):hover span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3):hover span {
  color: #e1306c;
}
.wrapper .button:nth-child(4):hover span {
  color: #333;
}
.wrapper .button:nth-child(5):hover span {
  color: #ff0000;
}
.wrapper .button:nth-child(6):hover span {
  color: #00B900;
}
.wrapper .button:nth-child(7):hover span {
  color: #333;
}