<div class="list-wrap">
  <% @lists.each do |list| %>
    <div class="list-box">
      <%= link_to todolist_path(list.id) do %><!--do~end内をリンクにしてる-->
        <div class="image-box">
        
        
          <% if list.image.attached? %>
              <%= image_tag list.image.variant(resize: '200x200') %>
          <% end %>
        
        
        </div>
      <div class="list-comment">
          <span class="list-title"><%= list.title %></span>
          <span class="list-body"><%= list.body %></span>
          <% if list.score < -0.7 %>
            <p class="sentiment-score"><small>※削除推奨</small></p>
          <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>