<footer>
  <div class="wrapper">
    <div class="button">
      <a href=""><!--好きな遷移先を記述-->
        <div class="icon">
          <i class="fab fa-facebook-f"></i>
        </div>
          <span>Facebook</span>
      </a>
    </div>
    <div class="button">
      <a href="">
        <div class="icon">
          <i class="fab fa-twitter"></i>
        </div>
          <span>Twitter</span>
      </a>
    </div>
    <div class="button">
      <a href="">
        <div class="icon">
          <i class="fab fa-instagram"></i>
        </div>
          <span>Instagram</span>
      </a>
    </div>
    <div class="button">
      <a href="">
        <div class="icon">
          <i class="fab fa-tiktok"></i>
        </div>
          <span>TikTok</span>
      </a>
    </div>
    <div class="button">
      <a href="">
        <div class="icon">
          <i class="fab fa-youtube"></i>
        </div>
          <span>Youtube</span>
      </a>
    </div>
    <div class="button">
      <a href="">
        <div class="icon">
          <i class="fab fa-line"></i>
        </div>
          <span>LINE</span>
      </a>
    </div>
    <div class="button">
      <a href="">
        <div class="icon">
          <i class="fab fa-github"></i>
        </div>
          <span>Github</span>
      </a>
    </div>
  </div>
</footer>